##############################################
#                                            #
#     Sample Env file for docker-compose     #
#                                            #
##############################################

COMPOSE_PROJECT_NAME=stack
DOMAIN=localhost

# CouchDB
COUCHDB_PROTOCOL=http
COUCHDB_HOST=couchdb
COUCHDB_PORT=5984
COUCHDB_USER=cozy
COUCHDB_PASSWORD=SomeRandomlyGeneratedString

# Redis
REDIS_ADDRS=redis:6379

# Stack
STACK_ADMIN_PASSPHRASE=stack
